.endmessage1, .endmessage2 {
  display: none;
}

body {
  background-color: #f4d4f1;
  font-family: 'Old Standard TT', serif;
}

.jumbotron {
  background-color: #f9c7f4;
  border: 1px solid #c178ba;
  text-align: center;
}

.col-md-6 {
  border: 1px solid #c178ba;
}

img{
  width: 400px;
  margin-top: 5%;
}
